params {
    input_dir = "/path/to/images"
    output_dir = "${launchDir}/output"
    pipeline_report_dir = "${launchDir}/reports"
    platemap = "/path/to/platemap.csv" // platemap with metadata
    neg_control = "Control" // corresponds to entries in your platemap.csv file.
}

report {
    enabled = true
    overwrite = true
    file = "${->params.pipeline_report_dir}/report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${->params.pipeline_report_dir}/timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${->params.pipeline_report_dir}/trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file = "${->params.pipeline_report_dir}/pipeline.svg"
}

profiles {
    eddie {
        includeConfig 'conf/eddie.config'
    }
    local {
        includeConfig 'conf/local.config'
    }
    conda {
        includeConfig 'conf/conda.config'
    }
}
