//Profile config names for nf-core/configs

params {
    config_profile_description = 'University of Edinburgh (eddie) cluster profile provided by nf-core/configs.'
    config_profile_contact     = 'Graeme Grimes (@ggrimes)'
    config_profile_url         = 'https://www.ed.ac.uk/information-services/research-support/research-computing/ecdf/high-performance-computing'
}

executor {
    name = "sge"
    queueSize = "500"
    submitRateLimit = "2"
}

process {
    resourceLimits = [
        memory: 1024.GB,
        cpus: 64,
        time: 240.h
    ]

    stageInMode    = 'symlink'
    scratch        = 'false'
    penv           = { task.cpus > 1 ? "sharedmem" : null }

    // common SGE error statuses
    errorStrategy  = { task.exitStatus in [143, 137, 104, 134, 139, 140] ? 'retry' : 'finish' }
    maxErrors      = '-1'
    maxRetries     = 3

    beforeScript   = '''
    . /etc/profile.d/modules.sh
    module load igmm/apps/singularity/3
    export SINGULARITY_TMPDIR="$TMPDIR"
    export NUMBA_CACHE_DIR="\$TMPDIR"
    export MPLCONFIGDIR="\$TMPDIR"
    export CELLPOSE_LOCAL_MODELS_PATH="\$TMPDIR"
    '''

    withName: CreateSampleSheet {
        executor = "local"
    }

    withName: StageData {
        queue = "staging"
    }

    withName: GetImageQCSheet {
        memory = { 8.GB * task.attempt }
        conda = "${projectDir}/envs/features.yaml"
        container = "jeskowagner/cellextract:latest"
    }

    withLabel: batchedCollate {
        time = { 12.hour * task.attempt }
        memory = { 100.GB * task.attempt }
        container = "jeskowagner/cellextract:latest"
        conda = "${projectDir}/envs/base.yaml"
    }

    withName: GetFeaturesSheet {
        memory = { 8.GB * task.attempt }
        time = { 4.h * task.attempt }
        container = "jeskowagner/cellextract:latest"
        conda = "${projectDir}/envs/features.yaml"
    }

    withName: CellposeSegmentationSheet {
        memory = { 8.GB * task.attempt }
        time = { 6.h * task.attempt }
        container = "jeskowagner/cellpose:latest"
        conda = "${projectDir}/envs/cellpose.yaml"
    }
}

includeConfig 'singularity.config'

env {
    MALLOC_ARENA_MAX = 1
}